<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>flowers1</key>
            <array>
                <string>flower1</string>
                <string>flower3</string>
                <string>flower24</string>
                <string>flower2</string>
                <string>flower4</string>
                <string>flower7</string>
                <string>flower8</string>
                <string>flower9</string>
                <string>flower12</string>
                <string>flower14</string>
                <string>flower15</string>
                <string>flower51</string>
                <string>flower52</string>
                <string>flower59</string>
                <string>flower_FL_1</string>
                <string>flower_FL_2</string>
                <string>flower_FL_3</string>
                <string>flower_FL_4</string>
                <string>flower_FL_5</string>
                <string>flower_FL_6</string>
                <string>flower_FL_7</string>
                <string>flower_FL_8</string>
                <string>flower_FL_9</string>
                <string>flower_FL_10</string>
                <string>Update_3_5</string>
                <string>Update_3_6</string>
                <string>Update_3_7</string>
                <string>Update_3_8</string>
                <string>Update_3_9</string>
                <string>Update_3_10</string>
                <string>Update_3_11</string>
                <string>Update_3_13</string>
                <string>Update_3_15</string>
                <string>Update_4_1</string>
                <string>Update_4_42</string>
                <string>Update_4_44</string>
            </array>
        </dict>
        <dict>
            <key>flowers2</key>
            <array>
                <string>flower10</string>
                <string>flower11</string>
                <string>flower37</string>
                <string>flower16</string>
                <string>flower17</string>
                <string>flower18</string>
                <string>flower19</string>
                <string>flower20</string>
                <string>flower21</string>
                <string>flower23</string>
                <string>flower25</string>
                <string>flower53</string>
                <string>flower54</string>
                <string>flower60</string>
                <string>flower_FL_11</string>
                <string>flower_FL_12</string>
                <string>flower_FL_13</string>
                <string>flower_FL_14</string>
                <string>flower_FL_15</string>
                <string>flower_FL_16</string>
                <string>flower_FL_17</string>
                <string>flower_FL_19</string>
                <string>flower_FL_20</string>
                <string>flower_U3_1</string>
                <string>Update_4_2</string>
                <string>Update_4_3</string>
                <string>Update_4_4</string>
                <string>Update_4_5</string>
                <string>Update_4_6</string>
                <string>Update_4_7</string>
                <string>Update_4_8</string>
                <string>Update_4_9</string>
                <string>Update_4_10</string>
                <string>Update_4_11</string>
                <string>Update_4_22</string>
                <string>Update_4_45</string>
            </array>
        </dict>
        <dict>
            <key>flowers3</key>
            <array>
                <string>flower5</string>
                <string>flower6</string>
                <string>flower22</string>
                <string>flower26</string>
                <string>flower27</string>
                <string>flower29</string>
                <string>flower30</string>
                <string>flower31</string>
                <string>flower32</string>
                <string>flower33</string>
                <string>flower34</string>
                <string>flower35</string>
                <string>flower36</string>
                <string>flower38</string>
                <string>flower55</string>
                <string>flower56</string>
                <string>flower_U3_2</string>
                <string>flower_U3_3</string>
                <string>flower_U3_4</string>
                <string>flower_U3_5</string>
                <string>flower_U3_6</string>
                <string>flower_U3_7</string>
                <string>flower_U3_8</string>
                <string>flower_U3_9</string>
                <string>flower_U3_10</string>
                <string>flower_U3_11</string>
                <string>Update_4_12</string>
                <string>Update_4_13</string>
                <string>Update_4_14</string>
                <string>Update_4_15</string>
                <string>Update_4_16</string>
                <string>Update_4_17</string>
                <string>Update_4_18</string>
                <string>Update_4_19</string>
                <string>Update_4_21</string>
            </array>
        </dict>
        <dict>
            <key>flowers4</key>
            <array>
                <string>flower13</string>
                <string>flower28</string>
                <string>flower39</string>
                <string>flower40</string>
                <string>flower41</string>
                <string>flower42</string>
                <string>flower43</string>
                <string>flower44</string>
                <string>flower45</string>
                <string>flower46</string>
                <string>flower47</string>
                <string>flower48</string>
                <string>flower49</string>
                <string>flower50</string>
                <string>flower57</string>
                <string>flower58</string>
                <string>flower_U3_12</string>
                <string>flower_U3_13</string>
                <string>flower_U3_14</string>
                <string>flower_U3_15</string>
                <string>flower_U3_16</string>
                <string>flower_U3_17</string>
                <string>Update_3_1</string>
                <string>Update_3_2</string>
                <string>Update_3_3</string>
                <string>Update_3_4</string>
                <string>Update_4_23</string>
                <string>Update_4_26</string>
                <string>Update_4_27</string>
                <string>Update_4_28</string>
                <string>Update_4_29</string>
                <string>Update_4_30</string>
                <string>Update_4_31</string>
                <string>Update_4_32</string>
                <string>Update_4_33</string>
                <string>Update_4_41</string>
            </array>
        </dict>
        <dict>
            <key>flowers5</key>
            <array>
                <string>flower_U4_87</string>
                <string>flower_U4_88</string>
                <string>flower_U4_89</string>
                <string>flower_U4_90</string>
                <string>flower_U4_91</string>
                <string>flower_U4_92</string>
                <string>flower_U4_93</string>
                <string>flower_U4_94</string>
                <string>flower_U4_95</string>
                <string>flower_U4_96</string>
                <string>flower_U4_97</string>
                <string>flower_U4_98</string>
                <string>flower_U4_99</string>
                <string>flower_U4_100</string>
                <string>flower_U4_101</string>
                <string>flower_U4_102</string>
                <string>flower_U4_103</string>
                <string>flower_U4_104</string>
                <string>flower_U4_105</string>
                <string>flower_U4_106</string>
                <string>flower_U4_107</string>
                <string>flower_U4_108</string>
                <string>flower_U4_109</string>
                <string>flower_U4_110</string>
                <string>flower_u4_R2_21</string>
                <string>flower_u4_R2_22</string>
                <string>flower_u4_R2_23</string>
                <string>flower_u4_R2_24</string>
                <string>flower_u4_R2_25</string>
                <string>flower_u4_R3_25</string>
                <string>flower_u4_R3_26</string>
                <string>flower_u4_R3_27</string>
                <string>flower_u4_R5_1</string>
                <string>flower_u4_R5_5</string>
                <string>flower_u4_R5_23</string>
                <string>flower_u4_R5_52</string>
            </array>
        </dict>
        <dict>
            <key>flowers6</key>
            <array>
                <string>flower_U4_85</string>
                <string>flower_U4_86</string>
                <string>flower_u4_IS_1</string>
                <string>flower_u4_IS_2</string>
                <string>flower_u4_R4_46</string>
                <string>flower_u4_R4_47</string>
                <string>flower_u4_R4_48</string>
                <string>flower_u4_R4_49</string>
                <string>flower_u4_R4_50</string>
                <string>flower_u4_R4_51</string>
                <string>flower_u4_R4_52</string>
                <string>flower_u4_R4_53</string>
                <string>flower_u4_R4_54</string>
                <string>flower_u4_R4_55</string>
                <string>flower_u4_R4_56</string>
                <string>flower_u4_R4_57</string>
                <string>flower_u4_R4_58</string>
                <string>flower_u4_R4_59</string>
                <string>flower_u4_R4_60</string>
                <string>flower_u4_R4_61</string>
                <string>flower_u4_R4_62</string>
                <string>flower_u4_R4_63</string>
                <string>flower_u4_R4_64</string>
                <string>flower_u4_R4_65</string>
                <string>flower_u4_R4_66</string>
                <string>flower_u4_R4_67</string>
                <string>flower_u4_R4_68</string>
                <string>flower_u4_R4_69</string>
                <string>flower_u4_R4_70</string>
                <string>flower_u4_R4_71</string>
                <string>flower_u4_R4_72</string>
                <string>flower_u4_R4_73</string>
                <string>flower_u4_R4_74</string>
                <string>flower_u4_R4_75</string>
                <string>flower_u4_R4_76</string>
                <string>flower_u4_R4_77</string>
            </array>
        </dict>
    </array>
</plist>
